.DS_Store
/pom.xml
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
*#
.#*
.repl
*~

*jar
*.js

resources/public/cljs
resources/public/clojure
resources/public/goog
resources/public/client
resources/public/release.js
resources/public/debug.js
target
repl
.lein-repl-history

out
