/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2013/1 Otto Linnemann
*/

#repl-pane {
    float:left;
    margin-top:20px;
    color:red;
}

#repl {
  position: relative;
  left: 50%;
  top: 30%;
  text-align:center;
  width: 100%;
  margin-top:30px;
  margin-left: -50%;
}
